footer a{
  text-decoration: none;
  color: #e4dddd;
}

@media (max-width:992px){
  footer p{
    font-size: 10px;
  }
  footer .icon a{
    font-size: 7px;
  }
  footer h4{
    font-size: 10px;
  }
}

 @media (max-width:577px){
   footer .contact p{
     margin-bottom: 1px;
   }
   footer .links span p{
     margin-bottom: 1px;
   }

 }
@media (max-width:360px){
  footer p{
    font-size: 6px;
  }
  footer a{
    font-size: 9px;
  }
  footer h4{
    font-size: 12px;
  }
}

